*{
    font-family: 'Montserrat', sans-serif;
}
#logo {
    width: 75vh;
}

#wordle {
    transition: 1s all;
}

#word1, #word2, #word3, #word4, #word5, #word6 {
    display: block;
    position: relative;
    word-spacing: 0.6vh;
}

button {
    background-color: white;
    border: 0.15vh solid black;
    border-radius: 1vh;
    font-size: 4.5vh;
    height: 6.5vh;
    width: 6.5vh;
    text-transform:uppercase;
    transition: 0.1s transform;
}

#retryBtn {
    border: 0;
    border-radius: 1vh;
    font-size: 2vh;
    height: 3.5vh;
    transition: 1s all;
    width: 15vh;
}
#retryBtn:hover {
    background-color: rgb(207, 207, 207);
}

#endScreen {
    color: black;
    font-family: 'Montserrat', sans-serif;
    background-color: white;
    box-shadow: 0 0 2.5vh rgba(0, 0, 0, 0.5);;
    display: none;
    height: 30vh;
    width: 45vh;
    left: 50%;
    opacity: 0;
    position: absolute;
    top: 41%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    transition: 1s all;
    z-index: 2147483647;
}


#endScreen h1 {
    font-size: 5vh;
}

#endScreen p {
    font-size: 2vh;
}